* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}
h1 {
  margin-bottom: 20px;
}

.main {
  padding: 40px;
  margin: 40px;
  animation-name: colorChange;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  animation-name: nav;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.box {
  padding: 10px;
}

@keyframes colorChange {
  0% {
    background-color: red;
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: blue;
  }
}


@keyframes nav {
  from {
    background-color: #76aa84;
  }
  to {
    background-color: #214d2c;
  }
    
}